#!/usr/bin/make -f
# For examples on how to write this file take a look at the following debian source packages: 
#  - grantlee
#  - kde4libs
#  - libarchive
#  - mesa

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_BUILD_MAINT_OPTIONS = hardening=-all,+pie,+fortify,+stackprotector,+relro,+bindnow,+format
export DEB_BUILD_MAINT_OPTIONS = hardening=+all,-pie

include debian/not-installed

%:
	dh $@ --parallel --with pkgkde_symbolshelper

.PHONY: override_dh_auto_test

override_dh_install:
	# Remove files which aren't installed. Do not use -f to ensure we notice disappearing files:
	set -e; for file in $(NOT_INSTALLED); do rm debian/tmp/$$file; done
	
	dh_install --fail-missing
